<section class="profile-close" id="cxo-profile">
    <div class="profile-avatar"><i class="fa fa-caret-left"></i><img src="/img/cat.png"></div>
    <div class="cxo-profile-inner">
        <div class="profile-name">小腿跑乱刀</div>
        <div class="read-progress"></div>
    </div>
</section>