<section class="profile-close" id="cxo-profile">
    <div class="profile-avatar"><i class="fa fa-caret-left"></i><img src="/img/cat.png"></div>
    <div class="cxo-profile-inner">
        <div class="profile-name">小腿跑乱刀</div>
        <ul>
            <li><a>标签</a></li>
            <li><a>文章</a></li>
            <li><a>归档</a></li>
        </ul>
        <div class="read-progress"></div>
    </div>
</section>