<div class="foci">
    <div class="title">
        <h1>FOCUS</h1>
        <p>聚焦</p>
    </div>
    <div class="focus-content">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>