<div class="tags">
    <ul class="metro">
        <li><a><span>Games</span></a></li>
        <li><a><span>Settings</span></a></li>
        <li><a><span>Email</span></a></li>
        <li><a><span>Messages</span></a></li>
        <li><a><span>Music</span></a></li>
        <li><a><span>Favorites</span></a></li>
        <li><a href="/tags"><span>More...</span></a></li>
    </ul>
</div>