<div class="works">
    <div class="title">
        <h1>WORKS</h1>
        <p>作品</p>
    </div>
    <div class="work-list">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>