<header class="main-header">
    <div class="banner">
        <h1><a href="/" style="color:white;text-decoration:none;">Hi~ I'm Virjid!</a></h1>
        <% if(theme.virjid.showSlant==true) { %>
        <div class="slant-left"></div>
        <div class="slant-right"></div>
        <% } %>
    </div>
</header> 