<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hello~ I'm <%= theme.virjid.author %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/global/style.css">
    <% if(is_home()){ %>
    <link rel="stylesheet" href="/css/index/style.css">
    <% }else if(is_post()){ %>
    <link rel="stylesheet" href="/css/md.css">
    <% }else if(is_tag() || page.path==="tags/index.html"){ %>
    <link rel="stylesheet" href="/css/tag.css">
    <% } %>
    <script>
        function completeLoading() {
            if (document.readyState == "complete") {
                var loadingMask = document.getElementById('loading');
                loadingMask.parentNode.removeChild(loadingMask);
            }
        }
        document.onreadystatechange = completeLoading;
    </script>
</head>