<header class="main-header">
    <% if(is_home()) { %>
    <div class="banner home">
        <h1><a href="/" style="color:white;text-decoration:none;">Hi~ I'm Virjid!</a></h1>
    </div>
    <% } else { %>
    <div class="banner">
        <h1><a href="/" style="color:white;text-decoration:none;">Hi~ I'm Virjid!</a></h1>
    </div>
    <% } %>
</header> 