#cxo-profile {
    width: 10rem;
    position: fixed;
    left: 1%;
    top: 15%;
    z-index: 99999;
    transition: all .4s ease-in-out;
    &.profile-close {
        left: -10rem;
        .profile-avatar {
            transform-origin: center;
            transform: rotate(-45deg);
            i {
                transform: rotate(225deg);
            }
        }
        .cxo-profile-inner,
        .profile-avatar img {
            visibility: hidden;
        }
    }
    .profile-avatar {
        width: 10rem;
        height: 10rem;
        border-radius: 50% 50% 5px 50%;
        background-color: hsla(0,100%,99%,.7);
        padding: .5rem;
        position: absolute;
        top: 0;
        transition: all .4s ease-in-out;
        box-shadow: 0 0 8px hsla(0,0%,47%,.7);
        i {
            position: absolute;
            bottom: .5rem;
            right: .8rem;
            font-size: 1.7rem;
            transition: all .4s ease-in-out;
            transform-origin: center;
            transform: rotate(45deg);
            color: #333;
            cursor: pointer;
        }
        img {
            border-radius: 50%;
        }
    }
    img {
        width: 100%;
        border-style: none;
    }
}


.cxo-profile-inner {
    width: 11rem;
    position: absolute;
    top: 12rem;
    left: .5rem;
    color: snow;
    text-shadow: 0 0 8px hsla(0,0%,47%,.9);
    ul {
        list-style-type: none;
        background-color: #3333337a;
        a {
            display: inline-block;
            padding: 5px 10px;
            &:hover {
                background: #333;
            }
            box-sizing: border-box;
            width: 100%;
            cursor: pointer;
        }
    }
}

.profile-name {
    font-size: 2rem;
}

.read-progress {
    margin-top: 1rem;
    background-color: #2ac3ff;
    height: 3px;
    width: 0;
}